
/* Style the navigation menu */
/*.nav {
  overflow: hidden;
  position: relative;
}


*/

#name {
  padding-left: 10%;
  padding-top: -10%;
  color: #916A70;
  font-family: 'Source Code Pro', monospace;
  font-size: 2.4rem;
  font-weight: 200;
  display: none;
}

@media (min-width: 750px) {
  #name {
   display:inline; 
  }

}

#nav-links {
  display: none;
}

/* Style navigation menu links */
  a.nav{
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace, Arial, sans-serif;
  text-decoration: none;
  padding: 2%;
  text-align: right;
  margin-right:4%;
  color: #916A70;;
  display: block; 
}

/* Style the  menu icon*/
#mobile-menu i{
  color: #916A70;;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2%;
  font-size: 2em;
}

/* Larger than mobile */
@media (min-width: 750px) {
    
  #nav-links {
    display: block;
  }
  .nav {
    padding: 2%;
    
  }
  #mobile-menu {
    display: none;
  }

  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  a.nav {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;

  }

  a.nav {
    text-transform: uppercase;
    text-decoration: none;
    color: #916A70;;
  }
}





/* 
Link styles 
____________________________
*/
/* Change the link color on hover */
a {
  color: #916A70;
}
a:hover {
  color: #575757;
}

#welcome {
   color: #916A70;

}

.fa {
  font-size: 2rem;
  padding: 1.5%;
}

ul.social/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.3;
}
 {
  overflow: auto;
  list-style-type: none;
}



ul li a i {
  color: #916A70;
  text-align: right;
  margin-right: 20px;
  padding: 15%;

}


.r-img {
  display: none;
}

/* Larger than tablet */
@media (min-width: 750px) {
  .r-img {
    display: inline;
  }

}

#contact {
  color: #916A70;
}

/*
footer styles 
____________________________
*/

.site-footer {
  border-top: 1px solid grey;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}

i.social {
  padding: 4%;

}





