.nav {
  padding: 2%;
  
}


ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li.nav {
  display: inline;
  text-transform: uppercase;
  text-decoration: none;

}

a.nav {
  text-transform: uppercase;
  text-decoration: none;
 /* color: #575757; */
 color: #916A70;;
}


/* Change the link color on hover */
a:hover {
  color: #E6DDDE;
}

#welcome {
   color: #916A70;;

}
